<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Memcached.ClientLibrary" version="1.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.4.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.1" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net45" />
</packages>